@model EyeCare.Models.Eyes

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Eyes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScreenTimeHoursPerDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScreenTimeHoursPerDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GlassesType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GlassesType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasEyeDisease)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasEyeDisease)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EyeDiseaseDetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EyeDiseaseDetails)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FamilyHistoryOfEyeDisease)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FamilyHistoryOfEyeDisease)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PastEyeSurgeries)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PastEyeSurgeries)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExperiencesEyeStrain)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExperiencesEyeStrain)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExperiencesDryEyes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExperiencesDryEyes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BlurredVision)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BlurredVision)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Smokes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Smokes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WearsSunglasses)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WearsSunglasses)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastEyeCheckupInMonths)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastEyeCheckupInMonths)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsesEyeDrops)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsesEyeDrops)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
