@model EyeCare.Models.Eyes

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Eyes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScreenTimeHoursPerDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScreenTimeHoursPerDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GlassesType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GlassesType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasEyeDisease)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasEyeDisease)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EyeDiseaseDetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EyeDiseaseDetails)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FamilyHistoryOfEyeDisease)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FamilyHistoryOfEyeDisease)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PastEyeSurgeries)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PastEyeSurgeries)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExperiencesEyeStrain)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExperiencesEyeStrain)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExperiencesDryEyes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExperiencesDryEyes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BlurredVision)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BlurredVision)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Smokes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Smokes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WearsSunglasses)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WearsSunglasses)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastEyeCheckupInMonths)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastEyeCheckupInMonths)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsesEyeDrops)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsesEyeDrops)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
